body{
    background-color: white;
  
}
.container{
    display: flex;
    flex-direction: row;
    

}

@media screen and (max-width: 768px){
 .container{ 
     display: flex;
     flex-direction: column;
     place-items: center;
    
     
 }
     
 #primero{
    
    background-color: rgba(30,31,37,255);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    width: 70px ;
    margin-left: 0px;
    position: relative;
    left: 0px;
    right: 10px;
    margin-left: 0px;
}
  #segundo{
    position: relative;
    left: 0px;
    right: 0px;
    width: 800px;
}
}



#primero{
    background-color: rgba(30,31,37,255);
    border-bottom-right-radius: 200px ;
    border-top-left-radius: 10px;
    width: 900px;
    height: 660px;
    margin-left: 100px;
}
#segundo{
    background-image: linear-gradient(to bottom right, rgba(255,112,165,255), rgba(171,101,166,255), rgba(229,183,246,255))  ;
    border-bottom-left-radius: 150px ;
    border-top-right-radius: 10px;
    width: 750px;
    height: 550px;
    position: relative;
    bottom: 0px;
    right: 50px;
    
}
    
#superior{
    color: white;
    font-size: 20px;
    position: relative;
    left:110px;
    bottom: 90px;
}
#boosting{
    color: rgba(145,110,188,255);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position: relative;
    left:110px;
    bottom: 80px;
}
#big{
    color: white;
    font-size: 75px;
    position: relative;
    left:105px;
    bottom: 115px;
    
}


#Texto{
    color: rgba(98,97,104,255);
    width: 400px;
    position: relative;
    left:110px;
    bottom: 150px;
  }
#button{
background-color: rgba(209,136,239,255);
border-radius: 50px;
border-style: none;
position: relative;
left:110px;
bottom: 120px;
width: 220px ;
height: 50px;
color:rgba(246,226,253,255);
text-align: left;
padding-left: 25px;
}
#button1{
    background-color: rgba(30,31,37,255);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    left: 130px;
    bottom: 120px;    
    width: 220px ;
    height: 50px;
    color:rgba(246,226,253,255);
    text-align: center;
}

#scroll{
    color: rgb(190, 190, 190);
    position: relative;
    top:550px;
    right: 550px;

}
#ovalo1{
    background-image:linear-gradient(to bottom,rgba(251,130,160,255), rgba(229,124,169,255), rgba(171,101,166,255)) ;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
    width: 190px;
    height:400px;
    position: relative;
    left: 30px;
    top: 25px;
}
#ovalo2{
    background-image:linear-gradient(to bottom,rgba(246,170,215,255), rgba(245,207,243,255), rgba(249,229,254,255)) ;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-width: 1px;
    width: 210px;
    height:500px;
    position: relative;
    bottom: 400px;
    left: 218px;
}
#ovalo3{
    background-image:linear-gradient(to bottom,rgba(251,130,160,255), rgba(232,146,184,255), rgba(218,161,201,255)) ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-width: 1px;
    width: 180px;
    height:250px;
    position: relative;
    left: 20px;
    top: 30px;
}
#circulo1{
    background-image:linear-gradient(to bottom, rgba(241,236,255,255), rgba(216,204,253,255));
    border-radius: 100px;
    width: 100px;
    height:100px;
    position: relative;
    left: 120px;
    top: 320px;
}
#circulo2{
    background-image:linear-gradient(to bottom, rgba(241,236,255,255), rgba(216,204,253,255));
    border-radius: 100px;
    width: 50px;
    height:50px;
    position: relative;
     bottom: 220px;
    left: 110px;
}
#pink{
    border-radius: 200px;
    width: 200px;
    height:200px;
    position: relative;
    top: 20px;
    right: 5px; 
    
}
#purple{
    border-radius: 200px;
    width: 150px;
    height:150px;
    position: relative;
    top:90px;
    left: 17px;  
}

#black{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height:250px;
    position: relative;
     right:20px;
    
}   

.instagram{
   background-color: none; 
   width: 120px;
   height: 40px;
   margin-left: 50px;
   position: relative;
   bottom: 10px;
   right: 380px;
}
.linkedin{
    position: relative;
    bottom: 25px;
    right: 100px;
    width:25px;
    height: 25px;
}
.twitter{
    
    position: relative;
    right: 230px;
    bottom: 20px;
    width:30px;
    height: 30px;

}
.youtube{
    background-color: none; 
   width:100px;
   height: 40px;
   margin-left: 70px;
   position: relative;
   bottom: 75px;
   left: 200px;

}
#navegacion{
    position: relative;
    left: 400px;
    top: 40px;
    width: 150px;
}

#flecha{
position: relative;
left: 5px;
top:20px;
}
